
<div class="content">
  <div class="container-fluid">
    <div class="row welcome-row">
      <div class="col-md-6 pull-left">
        <p class="welcome-txt">Welcome Back Ethan</p>
        <p class="last-sync">Last Synced: <span class="sync-time">1 hr ago</span></p>
      </div>
    </div>
    <div class="row dashboard-row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="dash-box order-box">
          <div class="">
            <a href="#"><img src="<%= asset_path 'order-card.png' %>"></a>
            <span class="box-head">Orders</span>
          </div>
          <div class="refresh-sign">
            <a href="#"><img src="<%= asset_path 'sync.png' %>"></a>
          </div>
          <hr>
          <div class="box-head2">Total Failures</div>
          <div class="box-number">05</div>
          <div class="box-last-sync">
            <p class="sync">Last Synced</p>
            <p class="sync-time">
              APR 12, 2018 - 18:00
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="dash-box inventory-box">
          <div class="">
            <a href="#"><img src="<%= asset_path 'inventory-card.png' %>"></a>
            <span class="box-head">Inventory</span>
          </div>
          <div class="refresh-sign">
            <a href="#"><img src="<%= asset_path 'sync.png' %>"></a>
          </div>

          <hr>
          <div class="box-head2">Total Failures</div>
          <div class="box-number">05</div>
          <div class="box-last-sync">
            <p class="sync">Last Synced</p>
            <p class="sync-time">
              APR 12, 2018 - 18:00
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="dash-box fulfillment-box">
          <div class="">
            <a href="#"><img src="<%= asset_path 'fulfillment-card.png' %>"></a>
            <span class="box-head">Fulfillments</span>
          </div>
          <div class="refresh-sign">
            <a href="#"><img src="<%= asset_path 'sync.png' %>"></a>
          </div>

          <hr>
          <div class="box-head2">Total Fulfillments</div>
          <div class="box-number">05</div>
          <div class="box-last-sync">
            <p class="sync">Last Synced</p>
            <p class="sync-time">
              APR 12, 2018 - 18:00
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




