<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 align-filter pull-right">
        <div class="dropdown">
          <%= link_to '<button type="button" class="btn2 btn-success2 add-btn sync-btn">Fetch Fulfillment</button>'.html_safe, sync_fulfillments_path %>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-12 user-div">
        <div class="card">

          <div class="">
            <div role="" class="" id="all">
              <div class="inv2-listing">
                <div class="inv2-heading">
                  <div class="inv2-sku">Pick Ticket</div>
                  <div class="inv2-brand">Brand</div>
                  <div class="inv2-adj">Status</div>
                  <div class="action">Date</div>
                </div>
                <% @fulfillments.each do |fulfillment| %>
                    <div class="inv2-detail">
                      <div class="inv2-sku"><%= fulfillment.pick_ticket %></div>
                      <div class="inv2-brand"><%= fulfillment.brand_name %></div>
                      <div class="inv2-adj"><%= fulfillment.status %></div>
                      <div class="action">
                        <%= format_date_time_list(fulfillment.created_at) %>
                      </div>
                    </div>
                <% end %>
              </div>
              <div class="pagination-div">
                <%= will_paginate @fulfillments %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>